# Configuration
# ========================================================================

# General
# ------------------------------------------------------------------------

# Set a unique name for this instance.
COMPOSE_PROJECT_NAME=docker-lemp

# This is used to prevent any files created by Composer/npm set to root as owner.
USER_ID=1000
GROUP_ID=1000

# Nginx
# ------------------------------------------------------------------------

# The virtual hostname that will be added to the nginx configuration.
SITE_URL=${COMPOSE_PROJECT_NAME}.test

# Accepted values: default, laravel, wordpress
SITE_TYPE=default

# See https://hub.docker.com/_/nginx for all available versions.
# Minimum supported version 1.25.1.
NGINX_VERSION=1.29-alpine

# Ports to forward to your host. Usually you don't need to change this, unless
# port 80 and 443 are already in used.
NGINX_PORT_UNSECURE=80
NGINX_PORT_SECURE=443

# PHP
# ------------------------------------------------------------------------

# See https://hub.docker.com/_/php for all available versions. Only supporting 8.1 and newer.
PHP_VERSION=8.5-fpm-alpine

# See https://github.com/composer/composer/releases for all available versions.
COMPOSER_VERSION=2.9.2

# See https://github.com/axllent/mailpit/releases for all available versions.
MAILPIT_VERSION=1.28.0
MAILPIT_WEB_PORT=8025
MAILPIT_SMTP_PORT=1025

# MySQL
# ------------------------------------------------------------------------

# See https://hub.docker.com/_/mysql for all available versions.
MYSQL_VERSION=8.4
MYSQL_ENCODING=utf8mb4
MYSQL_COLLATION=utf8mb4_unicode_ci
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=docker
MYSQL_USER=docker
MYSQL_PASSWORD=password
MYSQL_PORT=3306

# Miscellaneous
# ------------------------------------------------------------------------

# See https://hub.docker.com/_/redis for all available versions.
REDIS_VERSION=8.4-alpine

# See https://hub.docker.com/_/memcached for all available versions.
MEMCACHED_VERSION=1.6-alpine

# See https://hub.docker.com/_/node for all available versions.
NODEJS_VERSION=24.12-alpine

# Production
# ------------------------------------------------------------------------

# Bind address for exposed ports. Use 0.0.0.0 for local development (default)
# and 127.0.0.1 for production (only accessible via Traefik/tunnel).
BIND_ADDRESS=0.0.0.0
